@using BusniessLayer.Entity
@model Duty
@{
}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="AllTeamLeaderProjects"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a asp-action="AllTeamLeaderProjects">All Project</a></li>
                    <li class="breadcrumb-item"><a asp-action="SprintList">Prject Sprints</a></li>
                    <li class="breadcrumb-item"><a asp-action="SprintList">Project Duties</a></li>
                    <li class="breadcrumb-item"><a asp-action="#">New Duties</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- [ horizontal-layout ] start -->
    <div class="col-6">
        <div class="card">

            <div class="card-body">

                <form class="form-group" action="/Teamleader/InsertDuty">
                    <div class="form-group">
                        <label asp-for="DutyName"></label>
                        <input asp-for="DutyName" class="form-control" />
                        <span asp-validation-for="DutyName" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DutyDescrption"></label>
                        <input asp-for="DutyDescrption" class="form-control" />
                        <span asp-validation-for="DutyDescrption" style="color:red"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TeamMember"></label><br />

                        @{<select class="js-example-placeholder-single form-control" asp-for="TeamMemberId">
                                <option></option>
                                @foreach (var item in ViewBag.DutyMember)
                                {
                                    if (ViewBag.SprintId == item.SprintId)
                                    {
                                <option value="@item.MemberId">@item.UserName</option>
                                    }

                                }
                            </select>
                        }
                        <span asp-validation-for="TeamMemberId" style="color:red"></span>
                    </div>
                    <input asp-for="SprintId" value="@ViewBag.SprintId" hidden class="form-control" />
                    <input asp-for="StateId" value="3" hidden class="form-control" />

                    <div class="form-group">
                        <input type="submit" value="Create Sprint" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}