<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                    <li class="breadcrumb-item"><a asp-action="AllProjectCreated">Home Page</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- [ horizontal-layout ] start -->
    <div class="col-sm-12">
        <div class="card">

            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h1>Home Page</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>